.landing__page{
  background-image: url('https://res.cloudinary.com/dkpo6c3me/image/upload/v1712618075/bg_vim8ge.png');
  background-size: cover;
  padding: 50px 50px;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.landing__page .content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  margin: auto;
  justify-content: center;
}


.landing__page h1{
  font-size: 11vw;
  margin-top: 70px;
}

.landing__page span h1{
  font-size: 7vw;
  margin-top: 100px;
}

.content__image img{
  font-size: inherit;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 20px;
  border: none;
  border-radius: 50%;
  
}


ul{
  list-style: none;
  padding: 0;
  margin-top: -35px;
  float: right;
  font-size: 15px;
  font-weight: 600;

}

a{
  text-decoration: none;
  color: #fff;
}



i{
  color: rgb(4, 4, 40);
}

@media screen and (max-width: 600px) {
  .landing__page h1{
    font-size: 20vw;
    margin-top: 0;
    text-align: start;
  }

  .landing__page span h1{
    font-size: 15vw;
    margin-top: 0;
    text-align: end;
  }
  
  
}