.landing__page{
  background-image: url('https://res.cloudinary.com/dkpo6c3me/image/upload/v1712618075/bg_vim8ge.png');
  background-size: cover;
  padding: 50px 50px;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 100%;
}


p{
  font-size: 15px;
  display: block;
 line-height: 1.9em;
  unicode-bidi: isolate;
}

.int__welc{
  display: flex;

  justify-content: center;
  grid-gap: 20px;
  margin: 20px;
}

.int__welc img{
  width: 300px;
  border: none;
  border-radius: 20%;
  margin-right: 50px;

}

.landing__page .content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  margin: auto;
  justify-content: center;
}


.landing__page h1{
  font-size: 11vw;
  margin-top: 70px;
  font-family: 'Game Over', cursive;
}

.landing__page span h1{
  font-size: 7vw;
  margin-top: 100px;
  font-family: 'Game Over', cursive;
}

.content__image img{
  font-size: inherit;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 20px;
  border: none;
  border-radius: 50%;
  
}

.content__body {
  margin: 20px;
  max-width: 500px;
  font-family: 'Game Over';
  font-size: 18px;
  font-weight: bold;
}

.about{
  max-width: 900px;
  margin: auto;
}
.about h1{
  font-size: 80px;
  margin-top: 50px;
  text-align: center;
  font-family: 'Game Over', cursive;

}

ul{
  list-style: none;
  padding: 0;
  margin-top: -35px;
  float: right;
  font-size: 15px;
  font-weight: 600;

}

a{
  text-decoration: none;
  color: #fff;
}



i{
  font-size: 35px;
  margin-right: 20px;
}

i:hover{
  will-change: auto;
  transform: translate(0%, -11.6623%) translate3d(0px, 0px, 0px);
}


.socials{
  border: 2px solid rgba(255, 255, 255, 0.16);
  padding: 20px 50px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(91.17deg, rgba(255, 255, 255, 0.16) 5.66%, rgba(255, 255, 255, 0.03) 101.05%);
  backdrop-filter: blur(13.5px);

}
.socials img{
  width: 60px;
  border: none;
  border-radius: 10px;

}

.intro__vide{
  width: 100%;
}

@media screen and (max-width: 600px) {
  .landing__page h1{
    font-size: 20vw;
    margin-top: 0;
    text-align: start;
  }

  .landing__page span h1{
    font-size: 15vw;
    margin-top: 0;
    text-align: end;
  }

  
.socials{
  border: 2px solid rgba(255, 255, 255, 0.16);
  padding: 20px 50px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(91.17deg, rgba(255, 255, 255, 0.16) 5.66%, rgba(255, 255, 255, 0.03) 101.05%);
  backdrop-filter: blur(13.5px);

}
.socials img{
  width: 40px;
  border: none;
  border-radius: 10px;

}
  
  i{
    font-size: 25px;
    margin-right: 20px;
  }
  .about{
    max-width: 500px;
    margin: auto;
  }
  .about h1{
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
  
  }

  .intro__vide video{
    max-width: 350px;
  }
  
  .int__welc img{
    width: 100px;
    border: none;
    border-radius: 20%;
    margin-right: 50px;
  
  }
  .int__welc{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    grid-gap: 20px;
    margin: 20px;
  }
  
  
  
}