ul{
  list-style: none;
  padding: 0;
  margin-top: -35px;
  float: right;
  font-size: 15px;
  font-weight: 600;

}

a{
  text-decoration: none;
  color: #fff;
}

li{
  display: inline;
  margin: 10px;
}

.content{
  width: 100%; /* Ensure the container has a width */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;

}

.content__text h2{
  font-size: 45px;
  font-weight: 900;
  max-width: 500px;
  text-align: center;
}

.content__image{
  max-width: 400px;
}

i{
  color: rgb(4, 4, 40);
}

@media screen and (max-width: 600px) {
  .list__content{
    display: none;
  }

  .content__text h2{
    margin: auto;
    font-size: 30px;
    font-weight: 900;
    max-width: 350px;
  }
  .content__image{
    text-align: center;
  }

  .content__image img{
    margin-top: 20px;
    width: 250px;
    text-align: center;

  }
  
  
  
}